page-roombooking {
	.ionItemCss{
		margin-top: 20px;
	}
	.todayDate{
		text-align: center;
	}
	.errorMessageCss{
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		color: white;
	}
	.bookingButtonDiv{
		text-align: center;
	}
	.item-md{
		padding-left: 0px;
	}
	.orangeBackground{
		background: #ff5c33;
	}
	.greenBackground{
		background: green;
	}
}
